@use "/src/styles/variables.scss" as variable;
.doctorCards {
  .doctorCardsContainer {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .searchWrapper {
      align-self: flex-end;
      .doctorSearchContainer {
        max-width: 340px;
      }
    }
    .cardsWrapper {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .row {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
        .doctorsCardsItem {
          display: flex;
          flex-direction: column;
          gap: 32px;
          padding: 20px 40px;
          border-radius: 24px;
          background: #ebf0ff;
          min-width: 405px;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:hover{
            transform: scale(1.05) rotateZ(1.5deg);
            
          }
          .imageWrapper {
            width: 80px;
            height: 80px;
          }
           .mainContent {
          display: flex;
          flex-direction: column;
          gap: 16px;
          p {
            color: var(--dark-primary, #031e2d);

            /* heading/6 */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
          }
          .doctorList {
            display: flex;
            flex-direction: column;
            span {
              color: var(--dark, #131313);
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 160% */
              letter-spacing: 0.2px;
              opacity: 0.7;
            }
          }
        }
        }
       
      }
    }
    .loadButtonWrapper {
      align-self: center;
      .loadButtonContainer {
        max-width: 126px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .doctorCards {
    .doctorCardsContainer {
      padding: 80px 60px;
    }
  }
}
@media screen and (max-width: 568px) {
  .doctorCards {
    .doctorCardsContainer {
      padding: 48px 20px;
      gap: 40px;
      .searchWrapper {
        .doctorSearchContainer {
          max-width: unset;
          width: 100%;
        }
      }
      .cardsWrapper {
        .row {
          .doctorsCardsItem {
            min-width: unset;
            width: 100%;
            padding: 24px 16px;
            border-radius: 12px;
            gap: 24px;

            .imageWrapper {
              width: 60px;
              height: 60px;
            }
            .mainContent {
              .doctorList {
                span {
                  color: var(--dark, #131313);
                  font-family: Inter;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 32px; /* 177.778% */
                  letter-spacing: 0.18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
