@use "/src/styles/variables.scss" as variable;
.odpBookingWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    color: #333;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
  }
  .odpCardContainer {
    display: flex;
    gap: 24px;
   flex-wrap: wrap;
  }
}
