@use "/src/styles/variables.scss" as variable;

.appointment {
  .appointmentContainer {
    padding: 64px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .backContainer {
      .back {
        display: flex;
        gap: 8px;
        align-items: center;

        .imageWrapper {
          width: 20px;
          height: 20px;
          img {
            height: 100%;
          }
        }
      }
    }
    .searchContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      .search {
        max-width: 300px;
      }
    }
  }
}
