@use "/src/styles/variables.scss" as variable;
.navBoxContainer {
  padding: 16px 20px;
  border-radius: 18.521px;
  background: #f9fafb;
  box-shadow: 0px 2.315px 4.63px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
  h4 {
    color: #333;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
  }
  .navBoxContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    span {
      color: #374151;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      cursor: pointer;
    }
  }
}
