@use "/src/styles/variables.scss" as variable;

.newDental {
  display: flex;
  padding: 80px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .doctor-section {
    background: #fff;

    .custom-prev {
      top: 43%;
    }

    .custom-next {
      top: 43%;
    }
  }

  .newHeading {
    color: var(--dark-primary, #031e2d);
    text-align: center;

    max-width: 818px;
    /* heading/4 */
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 28px;
    /* 120% */
    text-transform: capitalize;
  }

  .newSubHeading {
    color: #444;
    text-align: center;
    max-width: 818px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    letter-spacing: 0.2px;
  }
}

@media screen and (max-width: 992px) {
  .newDental {
    padding: 80px 60px;
  }
}
@media screen and (max-width: 568px) {
  .newDental {
    padding: 48px 20px;

    .newHeading {
      color: var(--dark-primary, #031e2d);
      text-align: center;
      font-family: Mulish;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 133.333% */
      text-transform: capitalize;
      padding-bottom: 0;
    }

    .newSubHeading {
      display: none;
    }

    .doctor-section {
      padding: 40px 60px 0 60px;
    }

    .swiper-backface-hidden .swiper-slide {
      margin-left: unset !important;
    }
  }
}
