@use "/src/styles/variables.scss" as variable;
.marqueeCards {
  .marqueeCardsContainer {
    padding: 48px 0px 48px 80px;

    overflow-x: scroll;
    .marqueeTag {
      .cardContainer {
        padding: 32px;
        border-radius: 24px;
        background: var(--primary-20, #e7edff);
        width: fit-content;
        display: flex;
        gap: 24px;
        margin-left: 32px;
        max-width: 405px;
        min-width: 405px;
        min-height: 124px;
        .imageWrapper {
          width: 64px;
          height: 64px;
        }
        .textContainer {
          display: flex;
          flex-direction: column;
          // gap: 8px;
          justify-content: center;
          .cardTitle {
            color: var(--dark-primary, #031e2d);

            /* heading/6 */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 133.333% */
          }
          .cardContent {
            color: var(--dark, #131313);
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 125% */
            letter-spacing: 0.24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .marqueeCards {
    .marqueeCardsContainer {
      padding: 48px 0px 48px 60px;
      .marqueeTag {
        .cardContainer {
          min-width: unset;
        }
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .marqueeCards {
    .marqueeCardsContainer {
      padding: 20px 0px 20px 20px ;

      .marqueeTag {
        .cardContainer {
          padding: 12px;
          gap: 6px;
          align-items: center;
          border-radius: 8px;
          min-height: 64px;
          min-width: unset;
          max-width: 250px;
          margin-left: 12px;
          .imageWrapper {
            width: 24px;
            height: 24px;
          }
          .textContainer {
            gap: 4px;
            .cardTitle {
              color: var(--dark-primary, #031e2d);
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            .cardContent {
              color: var(--dark, #131313);
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px; /* 133.333% */
              letter-spacing: 0.12px;
              max-width: 192px;
            }
          }
        }
      }
    }
  }
}
