@use "/src/styles/variables.scss" as variable;
.searchBarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--Comps-field-border, #eef0f3);
  background: var(--Comps-field-bkg, #fdfdfd);
  .imageWrapper {
    width: 20px;
    height: 20px;
  }
  .searchBarInput {
    width: 100%;
    border: none;
    outline: none;
    color: #767676;

    /* Caption / Caption 2 - Regular */
    font-family: Poppins !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
}
