@use "/src/styles/variables.scss" as variable;

.iconButtonContainer {
  border: none;
  outline: none;
  padding: 12px 16px;
  border-radius: var(--medium, 24px);
  background: #195aff;
  @include variable.d-flex($al: center, $jc: center);
  gap: 6px;
  width: 100%;
  transition: scale 0.3s ease;

  span {
    @include variable.font-style($fs: 14px, $fw: 500, $lh: 20px);
  }

  .imageWrapper {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }

  // &:hover{
  //   scale: 1.05;
  // box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  // }
  &:hover {
    scale: 1.05;
    background: #195aff;

    .imageWrapper {
      transform: rotate(10deg);
    }
  }
}